<div class="header">
  <h2>Post Listing</h2>
  <%= link_to "Home", controller: "welcome" %> | <%= link_to "Create new post", new_post_path %>
</div>

<% @posts.each do |post| %>
  <div>
    <span>
      <strong><%= post.title %></strong> - <%= post.text %>
    </span>
    <span>
      <%= link_to "Show", post_path(post.id) %> | <%= link_to "Edit", edit_post_path(post) %>
    </span>
  </div>
<% end %>