<div class="header">
  <h2><%= @post.title %></h2>
  <%= link_to "Home", controller: "welcome" %> | <%= link_to "Edit this post", edit_post_path(@post) %>
</div>

<h3>Text:</h3> 
<div>
  <%= @post.text %>
</div>

<div class="footer">
  &laquo;<%= link_to "Back", posts_path %>
</div>