<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-error" id="error_explanation">
      <h4><%= pluralize(@user.errors.count, "error") %> prevented this user from being saved:</h4>

      <ul style="list-style:none;">
      <% @user.errors.full_messages.each do |msg| %>
        <li><span class="label label-important"><%= msg %></span></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render :partial => '/devise/registrations/user_fields' , :locals => {:f => f} %>

  <div class="well">
    <strong>Roles</strong>
    <div class="controls">
      <%=  build_role_list('/users/role_checkbox') %>
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <%= f.submit 'Save', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
