<div class="container">
  
  <%= render "nav", active: "users" %>

  <div class="container">
    <% @users.each do |user| %>
      <div class="row">
        <div class="span2">
          <p class="text-right">
            <%= link_to 'Edit', edit_user_path(user), class: "btn btn-mini" %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %>
          </p>
        </div>

        <div class="span10">
          <p class="lead"><%= link_to user.email.downcase, user %></p>
        </div>
      </div>

    <% end %>

    <div class="row">
      <div class="span2"></div>
      
      <div class="span8">
        <%= link_to 'New User', new_user_path, class: "btn btn-small btn-primary" %>
      </div>

      <div class="span2"></div>
    </div>

  </div>

</div>