<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul style="list-style:none;">
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label"><%= f.label :description %></label>
    <div class="controls">
      <%= f.text_field :description, :class => 'span8' %>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <div class="well">
        <strong>Parents</strong>
        <div class="controls">
          <%=  build_role_list('parents_checkbox') %>
        </div>
      </div>
    </div>

    <div class="span4">
      <div class="well">
        <strong>Children</strong>
        <div class="controls">
          <%=  build_role_list('children_checkbox') %>
        </div>
      </div>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit 'Save', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>