<div class="container">
  
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="#">BLOG-ADMIN</a>
      <ul class="nav">
        <li class=""><%= link_to "Blog Home", posts_path %></li>
        <li class="active"><%= link_to "Role Listing", roles_path %></li>
        <li class=""><%= link_to "Login", new_user_session_path %></li>
      </ul>
    </div>
  </div>

  <div class="container">

    <% @roles.each do |role| %>
      <div class="row">
        <div class="span2">
          <p class="text-right">
            <%= link_to 'Edit', edit_role_path(role), class: "btn btn-mini" %>
            <%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %>
          </p>
        </div>

        <div class="span10">
          <p class="lead"><%= link_to role.description.upcase, role %></p>
        </div>

      </div>
    <% end %>

    <div class="row">
      <div class="span2"></div>
      
      <div class="span8">
        <%= link_to 'New Role', new_role_path, class: "btn btn-small btn-primary" %>
      </div>

      <div class="span2"></div>
    </div>

  </div>

</div>