<div class="container">

  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">BLOG</a>
      <ul class="nav">
        <li class=""><%= link_to "Welcome", controller: "welcome" %></li>
        <li class=""><%= link_to "Blog Home", posts_path %></li>
        <li class=""><%= link_to "Create New Post", new_post_path %></li>
        <li class=""><%= link_to "Login", new_user_session_path %></li>
      </ul>
    </div>
  </div>

  <div class="container">

    <div class="row">

      <div class="span2"></div>

      <div class="span8">
        <ul class="breadcrumb">
          <li class=""><%= link_to "< back to post listing", posts_path %></li>
        </ul>
      </div>

      <div class="span2"></div>
    </div>

    <div class="row">
      <div class="span2"></div>
      
      <div class="span8">
        <%= form_for :post, url: post_path(@post.id), method: :patch do |f| %>

          <% if @post.errors.any? %>
          <div class="alert alert-error" id="errorExplanation">
            <h4><%= pluralize(@post.errors.count, "error") %> prevented this post from being saved:</h4>
            <ul style="list-style:none;">
            <% @post.errors.full_messages.each do |msg| %>
              <li><span class="label label-important"><%= msg %></span></li>
            <% end %>
            </ul>
          </div>
          <% end %>

          <fieldset>
            <legend>Edit your post</legend>

            <div class="control-group">
              <label class="control-label"><%= f.label :title %></label>
              <div class="controls">
                <%= f.text_field :title, :class => 'span8' %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label"><%= f.label :text %></label>
              <div class="controls">
                <%= f.text_area :text, :rows => '5', :class => 'span8' %></span>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <%= f.submit 'save', :class => 'btn btn-primary' %>
              </div>
            </div>  
          </fieldset>

        <% end %>
      </div>

      <div class="span2"></div>
    </div>
  </div>

</div>