<div class="container">

  <%= render "nav", active: "index" %>

  <div class="container">

    <div class="row">
      <div class="span2"></div>
      <div class="span10">
        <p class="lead"><strong><%= @posts.count %> posts found:</strong></p>
      </div>
    </div>

    <% @posts.each do |post| %>
      <div class="row blog-list-item">
        <div class="span2">
          <p class="text-right">
            <%= link_to "Edit", edit_post_path(post), class: "btn btn-mini" %>
            <%= link_to 'Delete', post_path(post.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-mini" %>
          </p>
        </div>

        <div class="span10">
          <p class="lead">
            <%= link_to post.title.upcase, post_path(post.id) %>
          </p>

          <%= post.text %>
          <div class="muted"><%= pluralize(post.comments.length, "comment") %></div>
        </div>

      </div>
    <% end %>

  </div>

</div>