<div class="container">
  
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">BLOG</a>
      <ul class="nav">
        <li class=""><%= link_to "Welcome", controller: "welcome" %></li>
        <li class=""><%= link_to "Blog Home", posts_path %></li>
        <li class="active"><%= link_to "Create New Post", new_post_path %></li>
        <li class=""><%= link_to "Login", new_user_session_path %></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span2"></div>
      
      <div class="span8">
        
        <%= form_for :post, url: posts_path do |f| %>
  
          <% #shouldn't have to do this %>
          <% if @post %>

            <% if @post.errors.any? %>
              <div id="errorExplanation">
                <h2><%= pluralize(@post.errors.count, "error") %> prohibited
                  this post from being saved:</h2>
                <ul>
                <% @post.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
              <% end %>

          <% end %>

          <fieldset>
            <legend>Create a post</legend>

            <div class="control-group">
              <label class="control-label"><%= f.label :title %></label>
              <div class="controls">
                <%= f.text_field :title, :class => 'span8' %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label"><%= f.label :text %></label>
              <div class="controls">
                <%= f.text_area :text, :rows => '5', :class => 'span8' %></span>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <%= f.submit 'create', :class => 'btn btn-primary' %>
              </div>
            </div>  
          </fieldset>

        <% end %>

      </div>

      <div class="span2"></div>
    </div>
  </div>

</div>