<div class="container">

  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">BLOG</a>
      <ul class="nav">
        <li class=""><%= link_to "Welcome", controller: "welcome" %></li>
        <li class=""><%= link_to "Blog Home", posts_path %></li>
        <li class=""><%= link_to "Create New Post", new_post_path %></li>
        <li class=""><%= link_to "Login", new_user_session_path %></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="span2"></div>

      <div class="span8">
        <%= link_to "< back to post listing", posts_path %>
      </div>

      <div class="span2"></div>
    </div>

    <div class="row">
      <div class="span2"></div>
      
      <div class="span8">
        <div class="hero-unit">
          <h1><strong><%= @post.title %></h1>
          <p class="lead"><%= @post.text %></p>
          <%= link_to "Edit", edit_post_path(@post), class: "btn btn-small" %>
          <%= link_to 'Delete', post_path(@post.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-small" %>

          <div class="muted">Comments:</span></div>

          <% @post.comments.each do |comment| %>
            <blockquote>
              <p><%= comment.body %></p>
              <small><%= comment.commenter %>
              <%= link_to 'remove', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
              </small>
            </blockquote>
          <% end %>

        </div>
      </div>

      <div class="span2"></div>
    </div>

    <div class="row">
      <div class="span2"></div>

      <div class="span8">
        <%= form_for([@post, @post.comments.build]) do |f| %>

          <fieldset>
            <legend>Add a Comment</legend>

            <div class="control-group">
              <label class="control-label"><%= f.label :commenter %></label>
              <div class="controls">
                <%= f.text_field :commenter, :class => 'span8' %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label"><%= f.label :body %></label>
              <div class="controls">
                <%= f.text_area :body, :rows => '5', :class => 'span8' %></span>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <%= f.submit 'comment', :class => 'btn btn-primary' %>
              </div>
            </div>  
          </fieldset>

        <% end %>
      </div>

      <div class="span2"></div>
    </div>

  </div>

</div>